@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titillium+Web:wght@600&display=swap');

#rugSelector{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    font-family: "Poppins";
    color: white;
}

#productSelector{
    width: 100%;
    /* border: 1px solid green; */
    /* height: 150px; */
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    margin-top: 10px;
}

.product img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.product * {
    z-index: -1;
    margin: 0px;
}

.product{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    gap: 3px;
    border: 3px solid #c41a4a00;
    box-sizing: border-box;
    padding: 2px;
}

.selectedProduct{
    border: 3px solid #c41a49;
}

.product p {
    text-align: center;
    font-size: 12px;
}

#rugSelector select{
    background-color: #2b2b2b;
    padding: 3px 5px;
    border-radius: 3px;
    border: 2px solid #898989;
    color: white;
}

#rugSelector option{
    color: white;
    background-color: #ffffff00;
}